<%= render partial: "admin/shared/navtab" %>
<div class="row">
  <h1 class="mr-2">後台設定服務網</h1>
  <hr>
  <div class="align-self-center mx-5">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newModal">
    新增服務網
    </button>
  </div>
  <div class="align-self-center mx-5">
    <%= link_to "匯入", import_admin_services_path, method: :post, class: "btn btn-primary" %>
    <%= link_to "匯出", export_admin_services_path, data: {turbolinks: false}, class: "btn btn-primary" %>
  </div>
  <div class="align-self-center mx-5">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#searchModal">
    搜尋
    </button>
  </div>
  <div class="align-self-center mx-5">
    <%= link_to  "清除搜尋", admin_root_path, class: "btn btn-outline-primary" %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@ransack, :tag, "註記", default_order: :asc) %></th>
        <th><%= sort_link(@ransack, :no, "代號", default_order: :asc) %></th>
        <th>名稱</th>
        <th>營業時間</th>
        <th>緯度</th>
        <th>經度</th>
        <th><%= sort_link(@ransack, :priority, "優先度", default_order: :desc) %></th>
        <th><%= sort_link(@ransack, :status, "是否啟用", default_order: :desc) %></th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr id=<%= service.id %>>
          <td><%= service.tag %></td>
          <td><%= service.no %></td>
          <td><%= service.name %></td>
          <td><%= service.service_time %></td>
          <td><%= service.lng %></td>
          <td><%= service.lat %></td>
          <td><%= service.priority %></td>
          <td><%= service.status %></td>
          <td>
            <%= link_to "編輯", edit_admin_service_path(service), remote: true, class: "btn btn-primary" %>
            <%= link_to "刪除", admin_service_path(service), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="m-auto">
    <%= paginate @services %>
  </div>
  <div class="modal-box">
    <%= render partial: "modal", locals: { service: @service, title: "新增服務網", html_id: "newModal" } %>
  </div>
  <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">搜尋</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <%= search_form_for [:admin, @ransack], { class: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :name_cont, "搜尋名稱包含" %>
            <%= f.search_field :name_cont, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :no_cont, "搜尋代號包含" %>
            <%= f.search_field :no_cont, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit class: "btn btn-primary" %>
          </div>
        <% end %>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

