<%= render partial: "admin/shared/navtab" %>
<div class="row">
  <ul class="nav nav-tabs m-auto align-items-center">
    <% @freeways.each do |freeway| %>
      <li class="nav-item">
        <% if @freeway && freeway.id == @freeway.id %>
          <%= link_to freeway.name, admin_interchanges_path(freeway_id: freeway.id), class: "nav-link active" %>
        <% else %>
          <%= link_to freeway.name, admin_interchanges_path(freeway_id: freeway.id), class: "nav-link" %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="col-sm-10 offset-sm-1">
    <% if @freeway %>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary my-3" data-toggle="modal" data-target="#newModal">
          新增交流道
        </button>
      </div>
    <% end %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>名稱</th>
          <th>Km</th>
          <th>北上預告出口</th>
          <th>南下預告出口</th>
          <th>北上交流道座標</th>
          <th>南下交流道座標</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <% @interchanges && @interchanges.each do |i| %>
          <tr>
            <td><%= i.name %></td>
            <td><%= i.km %></td>
            <td><%= i.cityNW %></td>
            <td><%= i.citySE %></td>
            <td><%= i.coordsNW %></td>
            <td><%= i.coordsSE %></td>
            <td>
              <%= link_to "編輯", edit_admin_interchange_path(i), remote: true, class: "btn btn-primary btn-sm" %>
              <%= link_to "刪除", admin_interchange_path(i), method: :delete, class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-box">
  <%= render partial: "modal", locals: { interchange: @interchange, freeway: @freeway, title: "新增交流道", html_id: "newModal" } %>
</div>