<div class="row" id="app">
  <div class="col-sm-8 offset-sm-2">
    <h1>米其林服務網搜尋</h1>
    <%= form_for @distance, remote: true do |f| %>
      <div class="form-group">
        <%= f.text_field :address, placeholder: "請輸入搜尋地址或地標", class: "form-control required", autofocus: true, required: "" %>
      </div>
      <div class="form-group">
        <%= f.submit "搜尋", class: "btn btn-primary" %>
      </div>
    <% end %>
    <hr>
    <h3>國道速查</h3>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01" v-if="selectedDirection ==='北上'">{{ result.roadN }}</label>
          <label class="input-group-text" for="inputGroupSelect01" v-else>{{ result.roadS }}</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01" v-model.number="selectedRoad">
          <option disabled value="">請選擇國道</option>
          <option :value="key" v-for="(item, key) in selectRoadData" :key="key">{{ item }}</option>
        </select>
        <select class="custom-select" id="inputGroupSelect01" v-model="selectedDirection">
          <option disabled value="">請選擇方向</option>
          <option :value="item" v-for="item in selectDirectionData">{{ item }}</option>
        </select>
        <input type="number" v-model.number="km" placeholder="請輸入公里數">
        <button @click="getResult">速查鄉鎮</button>
        <button @click="showFreeway">查國道表</button>
      </div>
    <hr>
    <h3>搜尋紀錄</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>搜尋名稱</th>
          <th>地址</th>
          <th>搜尋日期</th>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <% @distances.each do |distance| %>
          <tr>
            <td><%= distance.address %></td>
            <td><%= distance.geo_address %></td>
            <td><%= distance.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <%= link_to "顯示", distance_path(distance), class: "btn btn-outline-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <%= paginate @distances %>
    </div>
  </div>
  <!-- Modal for freeway-->
  <div class="modal fade" id="freewayModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-dark" id="checkModalLabel"></h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>交流道</th>
                <th>K數</th>
                <th style="width: 10%;">鄉鎮市</th>
                <th>南下預告出口</th>
                <th>北上預告出口</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, key) in selectFreeway" :key="key">
                <td>{{ item.name }}</td>
                <td>{{ item.km }}</td>
                <td>{{ item.roadN }}</td>
                <td>{{ item.cityS }}</td>
                <td>{{ item.cityN }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="checkModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-dark" id="checkModalLabel">請確認搜尋地點是否有誤</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <%= link_to "取消", root_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>


<script>
  var app = new Vue({
    el: "#app",
    data: {
      selectedRoad: "",
      selectedDirection: "",
      selectRoadData: ["國一","國二","國三","國四","國五","國六","國八","國十"],
      selectDirectionData: [],
      km: "",
      roadData: [
        [
          {name: "基隆端", cityN: "基隆市區、西岸碼頭", cityS: "------", km: 0, roadN: "基隆市仁愛區", roadS: ""},
          {name: "基隆交流道", cityN: "八堵、金山", cityS: "八堵、金山", km: 1, roadN: "基隆市仁愛區", roadS: "基隆市仁愛區"},
          {name: "八堵交流道", cityN: "暖暖、瑞芳", cityS: "------", km: 2, roadN: "基隆市安樂區", roadS: ""},
          {name: "大華系統交流道", cityN: "萬里、瑞濱", cityS: "------", km: 5, roadN: "基隆市七堵區", roadS: ""},
          {name: "五堵交流道", cityN: "五堵", cityS: "五堵", km: 6, roadN: "基隆市七堵區", roadS: "基隆市七堵區"},
          {name: "汐止交流道", cityN: "汐止", cityS: "汐止、國道3號", km: 10, roadN: "新北市汐止區", roadS: "新北市汐止區"},
          {name: "汐止系統交流道", cityN: "木柵、萬里", cityS: "------", km: 11, roadN: "新北市汐止區", roadS: ""},
          {name: "高架道路汐止端", cityN: "------", cityS: "高架道路堤頂大道、五股", km: 13, roadN: "新北市汐止區", roadS: ""},
          {name: "東湖交流道", cityN: "康寧路", cityS: "------", km: 15, roadN: "台北市內湖區", roadS: ""},
          {name: "內湖交流道", cityN: "成功路", cityS: "南京東路（A）成功路（B）", km: 17, roadN: "台北市內湖區", roadS: "台北市內湖區"},
          {name: "圓山交流道", cityN: "濱江街（A）建國北路、松江路（B）", cityS: "建國北路", km: 23, roadN: "台北市中山區", roadS: "台北市中山區"},
          {name: "台北交流道", cityN: "重慶北路", cityS: "士林（A）台北市區（B）", km: 25, roadN: "台北市大同區", roadS: "台北市大同區"},
          {name: "三重交流道", cityN: "三重", cityS: "三重", km: 27, roadN: "新北市三重區", roadS: "新北市三重區"},
          {name: "五股轉接道", cityN: "環河北路、汐止", cityS: "-----", km: 32, roadN: "新北市五股區", roadS: ""},
          {name: "五股交流道", cityN: "五股、新莊", cityS: "五股、新莊", km: 33, roadN: "新北市五股區", roadS: "新北市五股區"},
          {name: "泰山轉接道", cityN: "-----", cityS: "桃園機場", km: 35, roadN: "", roadS: ""},
          {name: "林口交流道", cityN: "林口、龜山、文化一路（A ）林口、龜山、文化北路（B）", cityS: "林口、龜山、文化一路（A ）林口、龜山、文化北路（B）", km: 41, roadN: "新北市林口區", roadS: "新北市林口區"},
          {name: "桃園交流道", cityN: "桃園、南崁", cityS: "桃園、南崁", km: 49, roadN: "桃園市蘆竹區", roadS: "桃園市蘆竹區"},
          {name: "機場系統交流道", cityN: "桃園、鶯歌、大園、桃園機場", cityS: "桃園、鶯歌、大園、桃園機場", km: 52, roadN: "桃園市桃園區", roadS: "桃園市桃園區"},
          {name: "中壢服務區"  ,cityN: "", cityS: "", km: 55, roadN: "", roadS: ""},
          {name: "內壢交流道", cityN: "大園、中壢", cityS: "中壢、大園", km: 57, roadN: "桃園市中壢區", roadS: "桃園市中壢區"},
          {name: "中壢轉接道", cityN: "桃園機場、五股", cityS: "校前路", km: 59, roadN: "", roadS: ""},
          {name: "中壢交流道", cityN: "中壢、平鎮、新屋", cityS: "中壢、平鎮、新屋", km: 62, roadN: "桃園市中壢區", roadS: "桃園市中壢區"},
          {name: "平鎮系統交流道", cityN: "觀音、大溪", cityS: "觀音、大溪", km: 65, roadN: "桃園市平鎮區", roadS: "桃園市平鎮區"},
          {name: "幼獅交流道", cityN: "幼獅工業區", cityS: "幼獅工業區", km: 67, roadN: "桃園市楊梅區", roadS: "桃園市楊梅區"},
          {name: "楊梅交流道", cityN: "楊梅、埔心", cityS: "楊梅、埔心", km: 69, roadN: "桃園市楊梅區", roadS: "桃園市楊梅區"},
          {name: "高架道路楊梅端", cityN: "中壢、桃園機場", cityS: "------", km: 71, roadN: "", roadS: ""},
          {name: "湖口交流道", cityN: "湖口、新豐、新竹工業區", cityS: "湖口、新豐、新竹工業區", km: 83, roadN: "新竹縣湖口鄉", roadS: "新竹縣湖口鄉"},
          {name: "湖口服務區", cityN: "", cityS: "", km: 86, roadN: "", roadS: ""},
          {name: "竹北交流道"  ,cityN: "竹北、芎林", cityS: "竹北、芎林", km: 91, roadN: "新竹縣竹北市", roadS: "新竹縣竹北市"},
          {name: "新竹交流道", cityN: "新竹、竹東（A）科學工業園區（B）", cityS: "新竹、竹東（A）科學工業園區（B）", km: 95, roadN: "新竹市", roadS: "新竹市"},
          {name: "新竹系統交流道", cityN: "竹南、後龍（A）竹東、台北（B）", cityS: "竹南、台中（A）竹東、台北（B）", km: 99, roadN: "新竹縣寶山鄉", roadS: "新竹縣寶山鄉"},
          {name: "頭份交流道", cityN: "頭份、三灣", cityS: "頭份、三灣", km: 110, roadN: "苗栗縣頭份市", roadS: "苗栗縣頭份市"},
          {name: "頭屋交流道", cityN: "造橋、頭屋", cityS: "造橋、頭屋", km: 125, roadN: "苗栗縣頭屋鄉", roadS: "苗栗縣頭屋鄉"},
          {name: "苗栗交流道", cityN: "苗栗、公館", cityS: "苗栗、公館", km: 132, roadN: "苗栗縣公館鄉", roadS: "苗栗縣公館鄉"},
          {name: "銅鑼交流道", cityN: "銅鑼,銅鑼科學園區", cityS: "銅鑼,銅鑼科學園區", km: 140, roadN: "苗栗縣銅鑼鄉", roadS: "苗栗縣銅鑼鄉"},
          {name: "三義交流道", cityN: "三義", cityS: "三義", km: 150, roadN: "苗栗縣三義鄉", roadS: "苗栗縣三義鄉"},
          {name: "泰安服務區", cityN: "", cityS: "", km: 159, roadN: "", roadS: ""},
          {name: "后里交流道", cityN: "后里、外埔", cityS: "后里、外埔", km: 160, roadN: "台中市后里區", roadS: "台中市后里區"},
          {name: "台中系統交流道", cityN: "豐原、清水", cityS: "豐原、清水", km: 165, roadN: "台中市神岡區", roadS: "台中市神岡區"},
          {name: "豐原交流道", cityN: "豐原、神岡", cityS: "豐原、神岡", km: 168, roadN: "台中市神岡區", roadS: "台中市神岡區"},
          {name: "大雅交流道", cityN: "台中、大雅", cityS: "台中、大雅", km: 174, roadN: "台中市北屯區", roadS: "台中市北屯區"},
          {name: "台中交流道", cityN: "台中、沙鹿", cityS: "台中、沙鹿", km: 178, roadN: "台中市西屯區", roadS: "台中市西屯區"},
          {name: "南屯交流道", cityN: "台中、龍井", cityS: "台中、龍井", km: 181, roadN: "台中市南屯區", roadS: "台中市南屯區"},
          {name: "王田交流道", cityN: "烏日、大肚", cityS: "烏日、大肚", km: 189, roadN: "台中市大肚區", roadS: "台中市大肚區"},
          {name: "彰化系統交流道", cityN: "大甲、南投", cityS: "大甲、南投", km: 192, roadN: "彰化市", roadS: "彰化市"},
          {name: "彰化交流道", cityN: "彰化、鹿港", cityS: "彰化、鹿港", km: 198, roadN: "彰化市", roadS: "彰化市"},
          {name: "埔鹽系統交流道", cityN: "員林、福興、埔鹽、草屯", cityS: "員林、福興、埔鹽、草屯", km: 207, roadN: "彰化縣埔鹽鄉", roadS: "彰化縣埔鹽鄉"},
          {name: "員林交流道", cityN: "埔心、員林、溪湖", cityS: "埔心、員林、溪湖", km: 211, roadN: "彰化縣溪湖鎮", roadS: "彰化縣溪湖鎮"},
          {name: "北斗交流道", cityN: "北斗、埤頭", cityS: "北斗、埤頭", km: 220, roadN: "彰化縣埤頭鄉", roadS: "彰化縣埤頭鄉"},
          {name: "西螺服務區", cityN: "", cityS: "", km: 229, roadN: "", roadS: ""},
          {name: "西螺交流道", cityN: "西螺、莿桐", cityS: "西螺、莿桐", km: 230, roadN: "雲林縣西螺鎮", roadS: "雲林縣西螺鎮"},
          {name: "虎尾交流道", cityN: "虎尾、斗六", cityS: "斗六、虎尾", km: 235, roadN: "雲林縣虎尾鎮", roadS: "雲林縣虎尾鎮"},
          {name: "斗南交流道", cityN: "斗南、斗六、虎尾", cityS: "斗南、虎尾", km: 240, roadN: "雲林縣斗南鎮", roadS: "雲林縣斗南鎮"},
          {name: "雲林系統交流道", cityN: "土庫、古坑", cityS: "土庫、古坑", km: 243, roadN: "雲林縣斗南鎮", roadS: "雲林縣斗南鎮"},
          {name: "大林交流道", cityN: "溪口、大林", cityS: "大林、溪口", km: 250, roadN: "嘉義縣大林鎮", roadS: "嘉義縣大林鎮"},
          {name: "民雄交流道", cityN: "新港、民雄", cityS: "民雄、新港", km: 257, roadN: "嘉義縣民雄鄉", roadS: "嘉義縣民雄鄉"},
          {name: "嘉義交流道", cityN: "嘉義、北港、新港", cityS: "嘉義、北港、新港", km: 264, roadN: "嘉義市", roadS: "嘉義市"},
          {name: "水上交流道", cityN: "朴子、太保、水上", cityS: "水上、朴子、太保", km: 270, roadN: "嘉義縣水上鄉", roadS: "嘉義縣水上鄉"},
          {name: "嘉義系統交流道", cityN: "東石、水上", cityS: "水上、東石", km: 272, roadN: "嘉義縣水上鄉", roadS: "嘉義縣水上鄉"},
          {name: "新營服務區", cityN: "", cityS: "", km: 284, roadN: "", roadS: ""},
          {name: "新營交流道", cityN: "鹽水、新營", cityS: "新營、鹽水", km: 288, roadN: "台南市新營區", roadS: "台南市新營區"},
          {name: "下營系統交流道", cityN: "學甲、玉井", cityS: "玉井、學甲", km: 299, roadN: "台南市下營區", roadS: "台南市下營區"},
          {name: "麻豆交流道", cityN: "麻豆、佳里", cityS: "佳里、麻豆", km: 303, roadN: "台南市麻豆區", roadS: "台南市麻豆區"},
          {name: "安定交流道", cityN: "安定、善化", cityS: "善化、安定", km: 311, roadN: "台南市安定區", roadS: "台南市安定區"},
          {name: "台南系統交流道", cityN: "台南、新化", cityS: "新化、台南", km: 315, roadN: "台南市新市區", roadS: "台南市新市區"},
          {name: "永康交流道", cityN: "台南、永康", cityS: "永康、台南", km: 319, roadN: "台南市永康區", roadS: "台南市永康區"},
          {name: "大灣交流道", cityN: "台南、仁德", cityS: "台南、仁德", km: 324, roadN: "台南市永康區", roadS: "台南市永康區"},
          {name: "台南交流道", cityN: "台南、仁德", cityS: "仁德、台南", km: 327, roadN: "台南市仁德區", roadS: "台南市仁德區"},
          {name: "仁德系統交流道", cityN: "台南、關廟", cityS: "關廟、台南", km: 330, roadN: "台南市仁德區", roadS: "台南市仁德區"},
          {name: "仁德服務區", cityN: "", cityS: "", km: 335, roadN: "", roadS: ""},
          {name: "路竹交流道", cityN: "路竹、阿蓮", cityS: "阿蓮、路竹", km: 338, roadN: "高雄市路竹區", roadS: "高雄市路竹區"},
          {name: "高科交流道", cityN: "高雄科學園區", cityS: "高雄科學園區", km: 342, roadN: "高雄市路竹區", roadS: "高雄市路竹區"},
          {name: "岡山交流道", cityN: "岡山、燕巢", cityS: "燕巢、岡山", km: 349, roadN: "高雄市燕巢區", roadS: "高雄市燕巢區"},
          {name: "楠梓交流道", cityN: "楠梓、仁武", cityS: "大社、楠梓", km: 356, roadN: "高雄市楠梓區", roadS: "高雄市楠梓區"},
          {name: "鼎金系統交流道", cityN: "旗山、左營", cityS: "旗山、左營", km: 362, roadN: "高雄市仁武區", roadS: "高雄市仁武區"},
          {name: "高雄交流道", cityN: "中正路（B）三多路（C）", cityS: "九如路（A）建國路（A）中正路（B）", km: 367, roadN: "高雄市三民區", roadS: "高雄市三民區"},
          {name: "瑞隆路出口匝道", cityN: "------", cityS: "瑞隆路", km: 369, roadN: "高雄市鳳山區", roadS: "高雄市鳳山區"},
          {name: "五甲系統交流道", cityN: "------", cityS: "屏東", km: 370, roadN: "高雄市鳳山區", roadS: "高雄市鳳山區"},
          {name: "五甲交流道", cityN: "鳳山", cityS: "------", km: 371, roadN: "高雄市鳳山區", roadS: "高雄市鳳山區"},
          {name: "高雄端", cityN: "------", cityS: "機場、市區", km: 372, roadN: "高雄市鳳山區", roadS: "高雄市鳳山區"},
          {name: "高雄端", cityN: "------", cityS: "漁港路、旗津、第三~五貨櫃區", km: 373, roadN: "高雄市前鎮區", roadS: "高雄市前鎮區"},
          {name: "高雄端", cityN: "------", cityS: "第一、二貨櫃區", km: 374, roadN: "高雄市前鎮區", roadS: "高雄市前鎮區"}
        ]
      ],
      result: ""
    },
    methods: {
      getResult() {
        var vm = this;
        var _arr = vm.roadData[vm.selectedRoad];
        if (vm.selectedDirection === "北上") {
          var arr = _arr.filter(function(item, index, array){
            return item.km <= vm.km && item.roadN !== "";
          });
          vm.result = arr[arr.length-1]
        } else {
          var arr = _arr.filter(function(item, index, array){
            return item.km >= vm.km && item.roadS !== "";
          });
          vm.result = arr[0]
        }
      },
      showFreeway() {
        $("#freewayModal").modal("show");
      }
    },
    watch: {
      selectedRoad(value) {
        var vm = this;
        if( (value&1) === 0 ) {
          vm.selectDirectionData = ["北上","南下"];
        }
        else {
          vm.selectDirectionData = ["東向","西向"];
        }
      },
    },
    computed: {
      selectFreeway() {
        return this.roadData[this.selectedRoad]
      }
    }
  });
</script>