<div class="navtab my-3">
  <ul class="nav nav-tabs">
    <% if current_page? admin_root_path %>
      <li class="nav-item">
        <%= link_to "服務網清單", admin_root_path, class: "nav-link active" %>
      </li>
    <% else %>
      <li class="nav-item">
        <%= link_to_unless_current "服務網清單", admin_services_path, class: "nav-link" do %>
          <%= link_to "服務網清單", admin_services_path, class: "nav-link active" %>
        <% end %>
      </li>
    <% end %>
    <li class="nav-item">
      <%= link_to_unless_current "交流道清單", admin_interchanges_path, class: "nav-link" do %>
        <%= link_to "交流道清單", admin_interchanges_path, class: "nav-link active" %>
      <% end %>
    </li>
  </ul>
</div>